body {
  background-color: rgb(60,60,60);
}

#app {
	height: 100vh;
	width: 100vw;
	background-color: rgb(60,60,60);	
}

.bg-black-main {
  background-color: rgb(30, 30, 30);
}

.centered_container {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.overflow_hidden {
  overflow: hidden;
}

.close_button {
  position: absolute;
  right: 5px;
  top: 5px;
}