.chess_row {
    padding: 0px;
    margin: 0px;
    height: 70px;
    width: 560px;
    position: relative;
    overflow: visible;
}
  
.board {
	margin: auto;
	position: relative;
}

.piece_icon {
    height: 60px;
    width: 60px;
}

.square {
	height: 100%;
	width: 70px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	position: relative;
	float: left;
	overflow: visible;
}

.color-square-black {
	background-color: rgb(90, 156, 96)
}

.color-square-white {
	background-color: white
}

.color-square-yellow {
	background-color: yellow;
}

.color-square-gray {
	background-color: gray;
}

.row_number {
position: absolute;
left: -15px;
top: 30%;
color: white;
}

.col_letter {
position: absolute;
left: 40%;
bottom: -25px;
color: white;
}