.chess_row {
    padding: 0px;
    margin: 0px;
    height: 12.5%;
    width: 100%;
    position: relative;
    overflow: visible;
}
  
.board {
	width: 560px;
	height: 560px;
}

.piece_icon {
	position: absolute;
    height: 80%;
    width: 80%;
	left: 10%;
	top: 10%;
}

.piece_container {
	width: 100%;
	height: 100%;
}

.square {
	height: 100%;
	width: 12.5%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	position: relative;
	float: left;
	overflow: visible;
}

.color-square-black {
	background-color: rgb(90, 156, 96)
}

.color-square-white {
	background-color: white
}

.color-square-selected {
	background-color: skyblue;
}

.color-square-moved {
	background-color: royalblue;
}

.row_number {
position: absolute;
left: -15px;
top: 30%;
color: white;
}

.col_letter {
position: absolute;
left: 40%;
bottom: -25px;
color: white;
}

@media screen and (max-width: 767px) and (orientation: portrait) { 
  .row_number {
    display: none;
  }

  .col_letter {
    display: none;
  }
  
  .board {
    height: 95vw;
	width: 95vw;
	margin: auto;
    padding-bottom: 15px;
	padding-top: 15px;
	max-width: 500px;
	max-height: 500px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 500px) {
  /* For tablets: */
 .board {
	width: 480px;
	height: 480px;
} 
}