.dialog {
  z-index: 1000;
  background-color: rgb(30, 30, 30);
  color: white;
  position: fixed;
  width: 50%;
  margin:auto;
  top: 25%;
  left: 25%;
  text-align: center;
  padding-bottom: 15px;
}

.dialog-large {
	width: 70%;
	left: 15%;
}

.dialog-promotion {
  left: 30%;
  width: 40%;
  top: 40%;  
}

@media screen and (max-width: 767px) and (orientation: portrait) { 
  .dialog {
    left: 0px;
    width: 100%;
    top: 20%;
  }
  
  .dialog-promotion {
	  top: 30%;
  }
}

@media screen and (max-height: 767px) and (orientation: landscape) {
  .dialog {
    left: 0px;
    width: 100%;
    top: 20%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 500px) {
  .dialog {
    width: 70%;
    left: 15%;
  }
  
	.dialog-promotion {
	  left: 30%;
	  width: 40%;	
	  top: 40%;
	}
}