.option {
  background-color: dodgerblue;
  color: white;
  height: 100px;
  width: 100px;
  text-align: center;
  margin: auto;
  position: relative;
  margin-bottom: 15px;
}

.option:hover {
  background-color: royalblue;
}

.option-menu {
  display: flex;
  flex-wrap: wrap;
}

.centered_div {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) and (orientation: portrait) { 
  .no_padding_mobile {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .option {
	  height: 60px;
	  width: 90vw;  
  }
}