.chess_row {
    padding: 0px;
    margin: 0px;
    height: 70px;
    width: 560px;
    position: relative;
    overflow: hidden;
  }
  
  .board {
    margin: auto;
    position: relative;
  }

.piece_icon {
    height: 60px;
    width: 60px;
  }

  .square {
    height: 100%;;
    width: 70px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    position: relative;
    float: left;
    overflow: hidden;
  }
  
  .color-square-black {
    background-color: rgb(90, 156, 96)
  }
  
  .color-square-white {
    background-color: white
  }

  .color-square-yellow {
    background-color: yellow;
  }

  .row_number {
    position: absolute;
    left: 2px;
  }

  .col_letter {
    position: absolute;
    right: 2px;
    bottom: 0px;
  }