#title {
  color: white;
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 10000;
  color: white;
  padding-left: 15px;
}

#promotion {
  color: white;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  width: 25%;
  z-index: 1000;
  position: fixed;
  margin: auto;
  background-color: rgb(30, 30, 30);
  padding-bottom: 5px;
}

.welcomeScreen {
  z-index: 1000;
  background-color: rgb(30, 30, 30);
  color: white;
  position: fixed;
  width: 50%;
  margin:auto;
  top: 35%;
  left: 25%;
  text-align: center;
  padding-bottom: 15px;
}

#message {
  display: initial;
}

.align-left {
  text-align: left;
}

.center {
  text-align: center;
}

body {
  background-color: rgb(60,60,60);
}

.color_0 {
  color: rgb(60,60,60)
}

.color_1 {
  color: rgb(141, 102, 53);
}

.bg-color_0 {
  background-color: rgb(60,60,60);
}

.bg-color_1 {
  background-color: rgb(50,50,50);
}

.bg-black-main {
  background-color: rgb(30, 30, 30);
}

#history {
  width: 100%;
  height: 305px;
  background-color: rgb(50, 50, 50);
  top: 100px;
  margin-top: 15px;
  left: 0px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#list {
  color: white;
  width: 100%;
  height: 259px;
  overflow-y: auto;
}

#evaluation {
  margin-top: 15px;
  background-color: rgb(50,50,50);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

#evaluation_figure {
  width: 100%;
}

#buttons {
  background-color: rgb(50,50,50);
  top: 537px;
  height: 68px;
  width: 100%;
  margin-top: 15px;
}

#button {
  margin-left: 15px;
  margin-top: 15px;
}

.container_div {
  position: relative;
  width: 100%;
  height: 100%;
}

.close_button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.no-padding {
  padding: 0px;
}

#board_container {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#col_left {
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#col_right {
  color: white;
  background-color: rgb(60, 60, 60);
  padding-left: 0px;
  width: 250px;
  right: 0px;
}

#timer {
  color: black;
  background-color: white;
  text-align: center;
}

#timer2 {
  color: black;
  background-color: white;
  text-align: center;
}

#timer1_div {
  width: 100%;
  background-color: rgb(50,50,50);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

#timer2_div {
  width: 100%;
  background-color: rgb(50,50,50);
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
}

.times {
  margin-bottom: 0px;
}

.time {
  background-color: rgb(200,200,200);
  color: black;
  height: 100px;
  width: 100px;
  text-align: center;
  margin: auto;
}

svg {
  height: 24px;
  width: 100%;
}

#rect_left {
  height: 24px;
  fill: white;
}

#rect_right {
  height: 24px;
  fill: black;
}

#text {
  height: 24px;
  font-size: 16px;
  fill: grey;
}
