#title {
  color: white;
}

html,body { height:100%; }

body {
  position: relative;
}

#main_container {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 10000;
  color: white;
  padding-left: 15px;
}

#promotion {
  color: white;
  text-align: center;
  top: 35%;
  left: 0;
  right: 0;
  width: 25%;
  z-index: 1000;
  position: fixed;
  margin: auto;
  background-color: rgb(30, 30, 30);
  padding-bottom: 5px;
}

.welcomeScreen {
  z-index: 1000;
  background-color: rgb(30, 30, 30);
  color: white;
  position: fixed;
  width: 50%;
  margin:auto;
  top: 35%;
  left: 25%;
  text-align: center;
  padding-bottom: 15px;
}

.scrollable_y {
  overflow-y: auto;
}

#message {
  display: initial;
}

.align-left {
  text-align: left;
}

.center {
  text-align: center;
}

body {
  background-color: rgb(60,60,60);
}

.color_0 {
  color: rgb(60,60,60)
}

.color_1 {
  color: rgb(141, 102, 53);
}

.bg-color_0 {
  background-color: rgb(60,60,60);
}

.bg-color_1 {
  background-color: rgb(50,50,50);
}

.bg-black-main {
  background-color: rgb(30, 30, 30);
}

#history {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: rgb(50, 50, 50);
  margin-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#list {
  position: absolute;
  color: white;
  overflow-y: auto;
  top: 32px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

#evaluation {
  margin-top: 15px;
  background-color: rgb(50,50,50);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

#evaluation_figure {
  width: 100%;
}

#buttons {
  background-color: rgb(50,50,50);
  top: 537px;
  height: 68px;
  width: 100%;
  margin-top: 15px;
}

#button_new_game {
  margin-left: 15px;
  margin-top: 15px;
}

.buttons {
  margin-left: 15px;
  margin-top: 15px;
}

.container_div {
  position: relative;
  width: 100%;
  height: 100%;
}

.col_left {
  position: absolute;
  left: 0px;
  right: 50%;
  top: 0px;
  bottom: 0px;
}

.col_right {
  position: absolute;
  left: 50%;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.row_container {
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
}

#users_online_div {
  position: absolute;
  bottom: 0px;
  top: 41px;
  left: 0px;
  right: 0px;
}

#games_available_div {
  position: absolute;
  bottom: 0px;
  top: 41px;
  left: 0px;
  right: 0px;
}

.color_blue {
  color: blue;
}

.relative {
  position: relative;
  height: 100%;
}

.close_button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.no-padding {
  padding: 0px;
}

#board_container {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centered_container {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#col_left {
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.no_click {
  pointer-events: none;
}

#col_right {
  color: white;
  background-color: rgb(60, 60, 60);
  padding-left: 0px;
  width: 250px;
  right: 0px;
}

#timer {
  color: black;
  background-color: white;
  text-align: center;
}

#timer2 {
  color: black;
  background-color: white;
  text-align: center;
}

#timer1_div {
  width: 100%;
  background-color: rgb(50,50,50);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}

#timer2_div {
  width: 100%;
  background-color: rgb(50,50,50);
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}

.times {
  margin-bottom: 0px;
}

.square_container {
  width: 100px;
  height: 100px;
}

.time {
  background-color: rgb(200,200,200);
  color: black;
  height: 100px;
  width: 100px;
  text-align: center;
  margin: auto;
  position: relative;
  border: 3px solid black;
  margin-bottom: 15px;
}

.time:hover {
  background-color: rgb(150,150,150);
}

svg {
  height: 24px;
  width: 100%;
}

#rect_left {
  height: 24px;
  fill: white;
}

#rect_right {
  height: 24px;
  fill: black;
}

#text {
  height: 24px;
  font-size: 16px;
  fill: grey;
}

.overflow_hidden {
  overflow: hidden;
}

.content_box {
  box-sizing: content-box;
  width: 100%;
}

#button_mobile {
  display: none;
}

.mobile {
  display: none;
}

.display_mobile {
  display: none;
}

@media screen and (max-width: 767px) and (orientation: portrait) { 
  #mobile_bar_row {
    margin-top: -15px;
  }

  .mobile { 
    display: initial;
  }

  .display_mobile {
    display: initial;
  }

  .display_not_mobile {
    display: none;
  }

  #title_new_game {
    text-align: left;
    padding-left: 15px;
  }

  #button_resign_mobile {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  #button_draw_mobile {
    position: absolute;
    top: 5px;
    right: 85px;
  }

  #button_mobile {
    display: initial; 
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .mobile {
    display: initial;
  }

  .content_box {
    max-width: 500px;
    margin: auto;
  }

  .board {
    height: 100vw;
    max-height: 500px;
    padding-bottom: 30px;
  }

  .not_mobile {
    display: none;
  }

  .chess_row {
    height: 12.5%;
    width: 100%;
  }

  .square {
    width: 12.5%;
  }

  .piece_icon {
    width: 12.5vw;
    height: 12.5vw;
    max-width: 62.5px;
    max-height: 62.5px;
  }

  .row_number {
    display: none;
  }

  .col_letter {
    display: none;
  }

  .welcomeScreen {
    left: 0px;
    width: 100%;
    top: 20%;
  }

  #buttons {
    top: 0px;
    margin-top: 0px;
    height: initial;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #timer2_div {
    margin-top: 0px;
    color: white;
    overflow: hidden;
  }

  #timer1_div {
    color: white;
    overflow: hidden;
  }

  #button {
    margin-left: 0px;
    margin-top: 0px;
  }

  h5 {
    font-size: 0.95rem;  
  }

  .no_padding_mobile {
    padding-left: 0px;
    padding-right: 0px;
  }

  #title {
    text-align: left;
  }

  #users_online_subtitle {
    display: none;
  }

  .col_right {
    left: 0px;
  }

  .col_left {
    display: none;
  }

  #games_available_div {
    position: initial;
  }
}

@media screen and (max-height: 767px) and (orientation: landscape) {
  #content {
    height: 70vh;
  }
  
  .board {
    width: 70vh;
    height: 70vh;
  }

  .display_mobile {
    display: initial;
  }

  .display_not_mobile {
    display: none;
  }

  #history, #evaluation {
    display: none;
  }

  .chess_row {
    width: 100%;
    height: 12.5%;
  }

  .square {
    width: 12.5%;
  }

  .row_number {
    display: none;
  }

  .col_letter {
    display: none;
  }

  #button_resign_mobile {
    position: absolute;
    top: 5px;
    right: 5px;
    display: initial;
  }

  #button_draw_mobile {
    position: absolute;
    top: 5px;
    right: 85px;
    display: initial;
  }

  #col_right {
    width: 200px;
  }

  #button_mobile {
    display: initial; 
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .piece_icon {
    width: 8vh;
    height: 8vh;
  }

  #content_row {
    height: 100%;
  }

  #usersOnline {
    top: 0px;
  }

  .welcomeScreen {
    left: 0px;
    width: 100%;
    top: 20%;
  }

  #buttons {
    display: none;
  }

  #timer2_div {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-right: 15px;
    width: initial;
    margin-bottom: 8px;
  }

  .board { 
    padding-left: 8px;
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (min-height: 500px) {
  /* For tablets: */
  #history {
    height: 200px;
  }

  .welcomeScreen {
    width: 70%;
    left: 15%;
  }
  
  #col_right {
    width: 210px;
  }

  .board {
    height: 480px;
    width: 480px
  }

  #content_row {
    min-height: 480px;
  }

  .chess_row {
    height: 12.5%;
    width: 100%;
  }

  .square {
    width: 12.5%;
  }

  .piece_icon {
    width: 50px;
    height: 50px;
  }

}